<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunnyVideos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CCEAAFB1E5ACF36000C7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCEAB0F1E5ACF4A000C7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCEAB1A1E5ACF4B000C7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
